.applaunch {
    text-align: center;
    min-height: 850px;
}

.applaunch-heading {
    margin-top: 30px;
    max-width: 100%;
    min-height: 60px;
}

.applaunch-main {
/*    background: #000;*/
    margin: 0 auto;
    max-width: 70%;
}

.applaunch-download {
    margin: 30px 0;
}

.applaunch-download button {
    margin-top: 10px;
}
